<div class="col-lg-4 col-md-4 col-sm-6 mb30">
    <div class="view image-hover-1 no-margin">
        <div class="product-container">
            <img class="img-responsive full-width" src="{{ asset(uploads_images_productos) }}{{ producto.getImagenDestacada() }}" alt="{{ producto.nombre }}">
            {% if producto.hasEnvioDomicilio() %}
                <span class="badge home-badge transporte"><i class="fa fa-truck"></i></span>
            {% endif %}
        </div>
        <div class="mask">
            <div class="image-hover-content">
                <a href="{{ path('public_anuncio_detalles',{'slug':producto.slug}) }}" class="info">
                    <div class="image-icon-holder"><span class="ion-link image-icons"></span></div>
                </a>
            </div>
        </div>

    </div>

    <div class="shop-product content-box-shadow">
        <div class="row">
            <div class="col-md-10">
                <a class="product-title" href="{{ path('public_anuncio_detalles',{'slug':producto.slug}) }}">
                    <h2 class="product-title">{{ producto.nombre }}</h2>
                </a>
            </div>
            <div class="col-md-2">
                <a data-id="{{ producto.id }}" href="#" class="bookmark_product" title="Marcar como favorito" data-togle="tooltip">
                    <i class="ion-ios7-heart-outline"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span class="pull-left label label-default shop-product-price"> $ {{ producto.getPrecioOferta }} </span>
            </div>
            {% if producto.getOfertaActiva()!=null %}
                <div class="col-md-7" style="text-align:left;">
                    <span class="precio-anterior pull-right" style="text-decoration:line-through;">$ {{ producto.precio }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>