<div class="modal fade warningMessage" id="warningMessage-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalLabel"><i class="fa fa-warning"></i> {{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 mt10">
                        <p>{{ message }}</p>
                        {% if message2 is defined and message2!='' %}
                            <p>{{ message2 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rw btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnConfirmWarning-{{ id }}" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /modal content -->
    </div><!-- /modal dialog -->
</div><!-- /modal holder -->