{% extends '::publicPanelUsuario.html.twig' %}

{% block breadcrumbPanelUsuario %}
    <li>Ventas</li>
{% endblock %}

{% block menuPanelUsuario %}
    {% include 'PublicBundle:Templates:menuPanelUsuario.html.twig' with {'page':'pedidos_vendedor'} %}
{% endblock %}

{% block headerCenterContent %}
    <h4>Ventas</h4>
{% endblock %}

{% block centerContent %}
    {#<div class="col-xs-12">#}
        {#<a disabled="disabled" id="btnEliminarProductos" class="btn btn-danger btn-sm"  data-toggle="modal" href="#dangerMessage-eliminarPedido"><i class="fa fa-trash"></i> Eliminar seleccionados</a>#}
    {#</div>#}
    <div class="col-xs-12 mt10 table-responsive" style="overflow: visible;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" class="box" ></th>
                <th>Código</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead><!-- /table header -->
            <tbody id="pedidosListado">

            </tbody><!-- /table body -->
        </table><!-- /hover table -->
    </div>
{% endblock %}

{% block includes %}
    <div class="row">
        <div class="col-xs-12">
            {% include 'PublicBundle:Templates:dangerMessage.html.twig' with {
            'id':'eliminarPedido',
            'title':'¿Está seguro de eliminar este Pedido?',
            'message':'Si eliminas este pedido, perderás todos los datos asociados a él, y no los podrás recuperar'
            } %}

            {% include 'PublicBundle:Templates:modalCambiarEstadoPedido.html.twig' %}

            {% include 'PublicBundle:PanelUsuario:modalDetalleCalificacionPedido.html.twig'%}
            
            {% include 'PublicBundle:PanelUsuario:modalImprimirPDFPedido.html.twig' %}
            
        </div>
    </div>
{% endblock %}

{% block hiddensPanelUsuario %}
    <input type="hidden" id="urlPedidos" value="{{ path('public_pedido_paginadopedidoventas') }}">
    <input type="hidden" id="urlEliminarPedido" value="{{ path('public_pedido_eliminar') }}">
    <input type="hidden" id="urlPedidoCambiarEstado" value="{{ path('public_pedido_cambiar_estado') }}">
    <input type="hidden" id="urlImprimirEtiqueta" value="{{ path('public_pedido_imprimir_etiqueta') }}">
    <input type="hidden" name="img-route" id="img-route" value="{{ asset(uploads_images_productos) }}">
    <input type="hidden" id="idPedido">
    <input type="hidden" id="indicador">
    <input type="hidden" id="usuarioid" value="{{ app.user.id }}">
    <input type="hidden" id="start" value="0">
    <input type="hidden" id="total" value="{{ total }}">
{% endblock %}

{% block customScriptsPanelUsuario %}
    <script type="text/javascript" src="{{ asset('bundles/public/js/publicPanelUsuarioPedidos.js') }}"></script>
{% endblock %}

