{% extends '::publicTemplate.html.twig' %}

{% block breadcrumbs %}
    <!-- Begin Page Header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-sm-6">
                    <ol class="breadcrumb" id="containerBreadCrumb">
                        <li><span class="ion-home breadcrumb-home"></span><a
                                    href="{{ path('public_homepage') }}">Inicio</a></li>
                        {% if categoriasBread is defined and categoriasBread is not null %}
                            {% for catB in categoriasBread %}
                                {% if not loop.last %}
                                    <li>
                                        <a class="menu-categoria"
                                           href="{{ path('public_anuncio_listar', {'slug': catB.slug, 'tipo': 'c' }) }}">{{ catB.nombre }}</a>
                                    </li>
                                {% else %}
                                    <li><a class="menu-categoria" href="#">{{ catB.nombre }}</a></li>
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    </ol>
                </div><!-- /column -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /page header -->
{% endblock %}

{% block generalContent %}
    <section class="pt30 mb30" id="wait">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="heading mb30">
                        <h4 class="hidden-xs hidden-sm hidden-md"><i class="fa fa-filter"></i> Filtrar resultados</h4>
                        <h5 class="visible-xs visible-sm visible-md"><i class="fa fa-filter"></i> Filtrar resultados <a id="btn-toggle-filter" href="#" class="pull-right"><i class="fa fa-bars"></i></a></h5>
                        <div class="owl-controls">
                            <div id="customNav" class="owl-nav"></div>
                        </div>
                    </div>
                    <div class="row filter-container">

                        <div class="col-xs-12">
                            <h4>Categorías</h4>
                            <div id="containerCategoriaListado">
                                {% for cath in listaCategoriasFiltro %}
                                    {% if loop.index0 <=10 %}
                                        <p class="catFiltro"><a
                                                    href="{{ path('public_anuncio_listar', {'slug': cath.slug }) }}">{{ cath.nombre }}</a>
                                        </p>
                                    {% else %}
                                        <p class="catFiltro" hidden><a
                                                    href="{{ path('public_anuncio_listar', {'slug': cath.slug }) }}">{{ cath.nombre }} </a>
                                        </p>
                                    {% endif %}
                                {% endfor %}

                                {% if listaCategoriasFiltro|length >10 %}
                                    <div><a id="verCatFiltro" class="default" href="#">Ver todos</a></div>
                                {% endif %}

                            </div>

                        </div>
                        <div class="col-xs-12 mt30">
                            <h4>Condición
                                <small><a href="#" id="cleanCondicion">Limpiar</a></small>
                            </h4>
                            {#{% if productos is defined and productos!=null %}#}
                                <div id="containerCondicionesListado">
                                    <p><input type="radio" name="c" class="condicion" id="nuevo" value="nuevo"> Nuevo
                                    </p>
                                    <p><input type="radio" name="c" class="condicion" id="de-uso" value="de-uso"> Usado
                                    </p>
                                    {#<p id="condicionNueva"><a href="#">Nuevo <small id="condicionNuevaSpam" >()</small></a></p>#}
                                    {#<p id="condicionUso"><a  href="#">Usado <small id="condicionUsoSpam">()</small></a></p>#}
                                </div>
                            {#{% endif %}#}

                        </div>
                        <div class="col-xs-12 mt30">
                            <h4>Ubicación</h4>
                            <div id="containerUbicacionesListado">
                                {% for cp in ciudadesProduct %}
                                    {% if loop.index0 <=7 %}
                                        <p class="city"><input type="checkbox" class="ubicacion"
                                                               id="{{ cp["id"] }}"> {{ cp["ciudadNombre"] }}</p>
                                    {% else %}
                                        <p2 class="city"  hidden><input type="checkbox"
                                                                                           id="{{ cp["id"] }}"> {{ cp["ciudadNombre"] }}
                                        </p2>
                                    {% endif %}
                                {% endfor %}

                                {% if ciudadesProduct|length >7 %}
                                    <p><a id="verCityFiltro" class="default" href="#">Ver todos</a></p>
                                {% endif %}
                            </div>

                        </div>
                        <div class="col-xs-12 mt30">
                            <h4>Precio
                                <small><a href="#" id="cleanPrecio">Limpiar</a></small>
                            </h4>


{#                                <p><input type="radio" name="p" class="precioFijo" id="precio1"> $1.000 a $3.000 </p>#}
{#                                <p><input type="radio" name="p" class="precioFijo" id="precio2"> Hasta $1.000 </p>#}
{#                                <p><input type="radio" name="p" class="precioFijo" id="precio3"> Más de $3.000</p>#}

                                <p>
                                <div class="form-group inline filtro-precio-container">
                                    <input type="number" class="form-control" placeholder="Mínimo" id="precioMin">
                                    <input type="number" class="form-control" placeholder="Máximo" id="precioMax">
                                    <button class="btn btn-primary mt10" id="btnFiltrarProductos">Filtrar</button>
                                </div>
                                </p>
                        </div>

                        {#<div class="col-xs-12 mt30">
                            <h4>Envío</h4>
                            <div id="containerTipoEnviosListado">
                                {% for te in tipoenvio %}
                                    <p class="tipoenvio"  ><input type="checkbox" class="te" id="{{ te["id"] }}"> {{ te["nombre"] }}</p>
                                {% endfor %}

                            </div>

                        </div>#}
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="heading mb30">


                        <h4>
                            <span id="categoriaName">{{ categoriasBread|length!=0?categoriasBread[(categoriasBread|length-1)].nombre:"" }}</span>
                            <small id="headSmall">{{ categoriasBread|length!=0?categoriasBread[(categoriasBread|length-1)].nombre:"" }}</small>
                        </h4>

                        <div class="owl-controls">
                            <div id="customNav" class="owl-nav"></div>
                        </div>
                    </div>
                    <div id="containerProducto">
                        {% if productos is defined and productos!=null %}
                            {% if productos|length > 0 %}
                                <div class="row">
                                    {% set cont=0 %}
                                    {% for producto in productos %}
                                        {% set cont=cont+1 %}

                                        {% include 'PublicBundle:Templates:itemProducto.html.twig' with {'producto':producto} %}

                                        {% if cont==3 %}
                                            <div class="clearfix"></div>
                                            {% set cont=0 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="alert alert-success" role="alertdialog"
                                     style="margin-top: 20px;margin-bottom: 10%;">
                                    No existen productos para la búsqueda realizada.
                                </div>
                            {% endif %}
                        {% endif %}


                    </div>

                    {#{% if productos is defined and productos|length > 0 %}

                        <div class="row">
                            <div class="col-xs-12" style="text-align: center">
                                <button id="btnVerMasProductos" type="button" class="btn btn-primary btn-lg">Ver más productos</button>
                            </div>
                        </div>

                    {% endif %}#}

                </div>
            </div>
        </div>
    </section>
    {#<input type="hidden" value="{{ path('public_anuncio_listar') }}" id="urlBuscarProductos">#}
    <input type="hidden" value="{{ path('public_anuncio_listarPaginado') }}" id="urlBuscarProductosPaginado">
    <input type="hidden" name="img-route" id="img-route" value="{{ asset(uploads_images_productos) }}">
    <input type="hidden" id="valorSearch" value="{{ valorSearch }}">
    <input type="hidden" id="categoriaid" value="{{ categoriaid }}">
    <input type="hidden" id="condicionid" value="">
    <input type="hidden" id="categoria_slug" value="">
    <input type="hidden" id="ciudadid" value="">
    <input type="hidden" id="tipoenvioid" value="">
    <input type="hidden" id="urlPublicHome" value="{{ path('public_homepage') }}">
    {% set show = 0 %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% set show = 1 %}
    {% endif %}
    <input type="hidden" id="status-user" value="{{ is_granted('IS_AUTHENTICATED_FULLY') }}">

    <input type="hidden" id="urlAdicionarProductoFavorito" value="{{ path('public_anuncio_favorito') }}">

    <input type="hidden" id="urlProductoDetalles" value="{{ path('public_anuncio_detalles',{'slug':"0"}) }}">

    <input type="hidden" id="nuevo" value="">
    <input type="hidden" id="uso" value="">

    <input type="hidden" id="offset" value="12">
    <input type="hidden" id="start" value="0">
    <input type="hidden" id="total" value="0">
    <input type="hidden" id="tipo_categoria" value="{{ tipo }}">
    <input type="hidden" id="totalProductos" value="0">
    <input type="hidden" id="precioOferta" value="">


    <input type="hidden" id="paginador" value="1">

{% endblock %}
{% block customScripts %}

    <script type="text/javascript" src="{{ asset('bundles/public/js/publicAnuncio.js') }}"></script>

{% endblock %}
