{% extends '::publicTemplate.html.twig' %}

{% block breadcrumbs %}
    <!-- Begin Page Header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><span class="ion-home breadcrumb-home"></span><a href="{{ path('public_homepage') }}">Inicio</a></li>
                        <li>Publicar anuncio</li>
                    </ol>
                </div><!-- /column -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /page header -->
{% endblock %}

{% block generalContent %}
<form action="{{ path('public_anuncio_publicar',{'step':'3'}) }}" id="formAnuncio3" role="form" method="post">
    <!-- Begin Content -->
    <div class="content-40mg">
        <div class="container">
            {% include 'PublicBundle:Templates:steps.html.twig' with {'step':3} %}

            <div class="row mb30">
                <div class="col-xs-12 white-bg-shadow">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="heading mt30">
                                <h3>Entra la cantidad y precio de venta</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row mb30">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cantidad">Cantidad <span class="required">*</span></label>
                                <input required="required" type="number" class="form-control" name="cantidad" id="cantidad" value="{{ producto!=null?producto.cantidad:"" }}">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="precio">Precio <span class="required">*</span></label>
                                <input required="required" type="number" class="form-control" name="precio" id="precio" value="{{ producto!=null?producto.precio:"" }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb30">
                        <div class="col-md-8 text-left">
                            <div class="alert alert-success alert-success-rw" role="alert">
                                Tu auncio ha sido guardado, puedes completarlo mas tarde si lo deseas desde tu panel de usuario.
                            </div>
                        </div>
                        <div id="publicar-anuncio-btn-containers" class="col-md-4 text-right">
                            <a href="{{ path('public_anuncio_publicar',{'step':'2', 'nav':'1'}) }}" class="btn btn-rw btn-primary btn-lg"><i class="ion-ios7-arrow-left"></i> Anterior</a>
                            {% if usuarioFlag==true %}
                                <a id="nextStep3" href="{{ path('public_anuncio_publicar',{'step':'5', 'nav':'1','idProducto':producto.id}) }}" class="btn btn-rw btn-primary btn-lg"><i class="fa fa-check-circle"></i> Terminar y publicar <i class="ion-ios7-arrow-right"></i></a>
                            {% else %}
                                <a id="nextStep3" href="{{ path('public_anuncio_publicar',{'step':'4', 'nav':'1'}) }}" class="btn btn-rw btn-primary btn-lg">Siguiente <i class="ion-ios7-arrow-right"></i></a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /container -->
    </div><!-- /content -->
    <!-- End Content -->

    <input type="hidden" id="idProducto" name="idProducto" value="{{ producto!=null?producto.id:"" }}">
    <input type="hidden" id="step" name="step" value="3">
    <input type="hidden" id="nav" name="nav" value="1">
</form>

{% endblock %}

{% block javascripts %}
    <!-- jQuery Files -->
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery-2.1.4.min.js') }}"></script>

    <!-- Royal Preloader -->
    <script type="text/javascript" src="{{ asset('bundles/public/js/royal_preloader.min.js') }}"></script>

    <!-- Javascript Files -->
    <script type="text/javascript" src="{{ asset('bundles/public/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.mixitup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/scrollReveal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.snippet.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.fitvids.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/activate-snippet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/skrollr.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/bootstrap-select.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/public/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/public/js/Validators/validatorUsuario.js') }}"></script>

    <script src="{{ asset('bundles/public/js/publicAnuncioAdicionar.js') }}"></script>


    <script type="text/javascript" src="{{ asset('bundles/public/js/main.js') }}"></script>






    <!-- On Scroll Animations - scrollReveal.js -->
    <script>
        var config = {
            easing: 'hustle',
            mobile:  true,
            delay:  'onload'
        }
        window.sr = new scrollReveal( config );

        // Bootstrap Select
        //$(".colecciones-home-select").selectpicker();
    </script>


    <!-- Slider Revolution Main -->
    <script type="text/javascript">
        jQuery(document).ready(function() {

            $.ajax($('#urlObtenerCategoria').val(), {
                'type': 'post',
                'dataType': 'json',
                'async':false,
                'data': {
                    'nivel': 1
                }
            }).done(function (response) {
                var categorias = response.categorias;

                for (var i = 0; i < categorias.length; i++)
                {
                    var subCategorias="";
                    for(var j=0; j<categorias[i][3].length;j++)
                    {
                        subCategorias+='<li><a href=""><span class="fa fa-angle-right mega-dropdown-arrow"></span>'+categorias[i][3][j][1]+'</a></li>';
                    }
                    var liCategoria = '<li class="col-lg-2 col-md-3 col-sm-6">' +
                        '<ul>' +
                        '<li class="dropdown-header">'+categorias[i][1]+
                        '</li>' +
                        subCategorias+
                        '</ul>' +
                        '</li>';

                    $('#containerCategoria').append(liCategoria);
                }

            });
        });

    </script>


{% endblock %}
