{% extends '::adminTemplate.html.twig' %}

{% block mainMenu %}
    {% include 'AdministracionBundle:Templates:mainMenu.html.twig' with {'page':'ofertas'} %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'AdministracionBundle:Templates:breadcrumbs.html.twig' with {'items':[
    {'raiz':false,'title':'Oferta','href':'#'},
    {'raiz':true,'title':'Listado Ofertas'}
    ]} %}
{% endblock %}

{% block titulo %}<i class="fa fa-bolt"></i> Listado de Ofertas{% endblock %}
{% block subTitulo %}Edición de las ofertas de la Plataforma{% endblock %}
{% block generalContent %}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    {#<div class="panel-heading">
                            <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>

                    </div>#}
                    <div class="panel-body">
                        <table id="example1" class="display table table-bordered">
                            <thead>
                            <tr>
                                <th style="width:50px;"><input type="checkbox" id="selectAllOferta"/></th>
                                <th style="width:150px;">Nombre</th>
                                <th style="width:150px;">Descuento</th>
                                <th style="width:100px;">Fecha Inicio</th>
                                <th style="width:100px;">Fecha Fin</th>
                                <th style="width:100px;">Estado</th>

                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            <button type="button" id="bloquearOferta" class="buttonDataTable btn btn-primary" disabled  style="margin-right: 5px;padding: 5px; margin-bottom: 10px;"><i class="fa fa-edit"></i> Editar</button>
                            <button type="button" id="eliminarOferta" class="buttonDataTable btn btn-danger" disabled  style="margin-right: 5px;padding: 5px; margin-bottom: 10px;"><i class="fa fa-trash"></i> Eliminar</button>
                            <button type="button" id="detallesOferta" class="buttonDataTable btn btn-default" disabled  style="padding: 5px; margin-bottom: 10px;"><i class="fa fa-search"></i> Ver Detalles</button>

                            </tfoot>
                        </table>

                    </div>
                </div>


            </div>

        </div>
    </div>
    <a id="modalBloquear"  class="" style="visibility: hidden" href="#modalBloquearOferta"  data-toggle="modal" ><i class="fa fa-edit"></i> DDD</a>
    <a id="modalEliminar"  style="visibility: hidden"  class="" href="#modalEliminarOferta"  data-toggle="modal" ><i class="fa fa-edit"></i>DDDDD</a>
    <a id="modalDetalles"  style="visibility: hidden"  class="" href="#modalDetallesOferta"  data-toggle="modal" ><i class="fa fa-edit"></i>DDDDD</a>
    {% include 'AdministracionBundle:Oferta:modalBloquear.html.twig'%}
    {#{% include 'AdministracionBundle:Usuario:modalAdicionar.html.twig' with {'roles':roles}%}#}
    {% include 'AdministracionBundle:Oferta:modalEliminar.html.twig'%}
    {% include 'AdministracionBundle:Oferta:modalDetalles.html.twig'%}

    <input type="hidden" value="{{ path('administracion_oferta_listar') }}" id="urlListar">
    <input type="hidden" value="{{ path('administracion_oferta_detalles') }}" id="urlDetalles">
    <input type="hidden" value="{{ path('administracion_oferta_bloquear') }}" id="urlBloquear">
    <input type="hidden" value="{{ path('administracion_oferta_producto_detalles') }}" id="urlDetallesProductos">
    <a id="paginaDetalles"  class="visibility: hidden" style="" href="" ><i class="fa fa-edit"></i> DDD</a>
    {#<input type="hidden" value="{{ path('administracion_oferta_editar') }}" id="urlEditar">#}


{% endblock  %}

{% block customScripts %}

    <!-- Vendor scripts -->

    <script type="text/javascript" src="{{ asset('bundles/administracion/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/metisMenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/icheck.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/sparkline/index.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/index.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/bootstrap.min.js') }}"></script>

    <!-- App scripts -->
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/homer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/vue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/vue-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/administracion/js/administracionOferta.js') }}"></script>

    <script>
        $('#fechaRegistroAdicionarUsuario').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });



    </script>
{% endblock %}