{% extends '::emails.html.twig' %}

{%  block body %}
    <tr>
        <td valign="top">
            <h2 class="h2" style="color:#444444;
			display:block;
			font-family:Open Sans;
			font-size:30px;
			font-weight: 400;
			line-height:100%;
			margin-top:2%;
			margin-right:0;
			margin-bottom:1%;
			margin-left:0;
			text-align:left;">Califica tu pedido</h2>
            <br />
            <div class="textdark" style="color: #444444;
			font-family: Open Sans;
			font-size: 17px;
			line-height: 150%;
			text-align: left;">
                Hola {{ user_firstname }}, hemos tenido constancia de que has recibido tu pedido.<br/><br/>
                Califica tu experiencia de compra cuanto antes, para que el vendedor reciba su pago, o si tienes
                algún problema, igualmente lo puedes resolver en la página de la calificación.
            </div>
        </td>
    </tr>
    <tr style="background-color: #e0e0e0;">
        <td valign="top">
            <div class="textdark" style="color: #444444;
			font-family: Open Sans;
			font-size: 17px;
			line-height: 150%;
			text-align: left;">
                <b>Código pedido: </b>{{ pedido.codigo }} <br/>
                {% set detallePedido = pedido.detalle %}
                {% if detallePedido %}
                <b>Producto:</b> {{ detallePedido.nombre }} - {{ detallePedido.descripcion }}<br/>
                <b>Cantidad:</b> {{ pedido.cant }} <br/>
                {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="textdark" style="color: #444444;
			font-family: Open Sans;
			font-size: 14px;
			line-height: 150%;
			text-align: left;">
                Sigue el siguiente enlace para calificar tu compra (Haz clic en el botón "Calificar este pedido"):<br><br>
                <a href="{{ url('public_panel_usuario_compras_detalle',{'codPedido':pedido.codigo}) }}#modalValorarPedido">
                    {{ url('public_panel_usuario_compras_detalle',{'codPedido':pedido.codigo}) }}#modalValorarPedido
                </a>
            </div>
        </td>
    </tr>

{% endblock %}

